---
import Layout from '../../layouts/Layout.astro';
import fetchApi from '../../lib/teamsCache';
let { ident } = Astro.params;
if(!ident) {
    ident = '';
}
ident = ident.toLowerCase();

const teams = await fetchApi.getTeams();
const team = teams.find(team => team.attributes.ident.toLowerCase() === ident);
console.log(team);
const title = `${team.attributes.ident} - ${team.attributes.name} - SV Fühlingen`;


let image = '';

if(team.attributes.image.data) {
    image = 'https://cms.xn--sv-fhlingen-whb.de' + team.attributes.image.data.attributes.formats.medium.url;
}

---

<Layout title={title}>


    <div class="bg-gray-50 shadow pt-14 pb-16 text-gray-500">
        <div class="mx-auto max-w-7xl py-2 px-4 sm:px-6 lg:px-8">

            <div class="text-center">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900">{team.attributes.name}</h1>
                {team.attributes.jahrgang && (
                    <p class="mt-4 text-xl">Jahrgang: {team.attributes.jahrgang} </p>
                )}
            </div>

        </div>
    </div>

    <div class="mx-auto max-w-7xl py-2 px-4 sm:px-6 lg:px-8">

        <div class="flex flex-wrap overflow-hidden mt-10">

            {image !== "" && (
                <div class="md:w-2/5 overflow-hidden">

                    <img class="rounded border-2 border-solid border-gray-400" src={image}>

                </div>
            )}

            <!-- Letzte Spiele-->
            <div class="md:w-3/5 overflow-hidden md:p-5">


                dasds

            </div>

        </div>




    </div>



</Layout>
